version: '3'
services:
  videohat:
    build: 
      context: ./videohat
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/videohat
      - PORT=3000
    depends_on:
      - mongo
    labels:
      - "traefik.http.routers.videohat.rule=Host(`videohat.bouzinab.com`)"
      
  videohat-ads:
    build: 
      context: ./videohat-ads
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/videohat
      - PORT=3000
    depends_on:
      - mongo
    labels:
      - "traefik.http.routers.videohat-ads.rule=Host(`videohat-ads.bouzinab.com`)"
  mongo:
    image: mongo
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"


  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.9
    # Enables the web UI and tells Traefik to listen to docker
    command: --api.insecure=true --providers.docker
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  mongodata:
